---
layout: default
title: My Home
---
<h1>{{ "Hello World!" | downcase }}</h1>
<h1>{{ page.title }}</h1>
<h1>{{ page.layout }}</h1>
{% if page.layout %}
<h1>有</h1>
{% else %}
<h1>无</h1>
{% endif %}
{% if page.layout2 %}
<h1>had</h1>
{% else %}
<h1>none</h1>
{% endif %}
{% for product in collection.products %}
  <h1>{{ product.title }}</h1>
{% else %}
  <h1>The collection is empty.</h1>
{% endfor %}
{% for i in (1..5) %}
  {% if i == 4 %}
    {% continue %}
  {% else %}
    {{ i }}
  {% endif %}
{% endfor %}
{% include navigation20230414.html %}
